{% extends 'layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>Throw a Secret Santa with your Slack team!</h1>

        <q><strong>Secret Santa</strong> is a Western Christmas tradition in which members of a group or
            community are <strong>randomly</strong> assigned a person to whom they anonymously <strong>give a gift</strong>.</q>

        <a class="action" href="{{ path('run') }}">
            <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
        </a>
    </div>

    <div class="content how-block">
        <h2 class="content-head is-center">How does it works?</h2>

        <div class="pure-g">
            <div class="how-item pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <span class="content-subhead">
                    <i class="fa fa-plug"></i>
                    Connect to your Slack
                </span>
                <p>
                    Authorize the app to access your Slack team.
                </p>
            </div>
            <div class="how-item pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <span class="content-subhead">
                    <i class="fa fa-users"></i>
                    Select users
                </span>
                <p>
                    We show you all your Slack users (<small>excluding the bots, because they don't do nice gifts</small>). Just select which users will take part to your secret santa.
                </p>
            </div>
            <div class="how-item pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <span class="content-subhead">
                    <i class="fa fa-check"></i>
                    Inform users
                </span>
                <p>
                    After <a href="https://github.com/jolicode/slack-secret-santa/blob/master/src/Rudolph.php">Rudolph</a> shuffled the users, we throw at each participant a private message with his peer name and an optional admin message.
                </p>
            </div>
            <div class="how-item pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <span class="content-subhead">
                    <i class="fa fa-shopping-cart"></i>
                    Buy a gift
                </span>
                <p>
                    Everything is now setup. Just go buy a gift for your peer before your party. Merry Christmas!
                </p>
            </div>
        </div>
    </div>

    <div class="sample-message pure-g">
        <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-2-5">
            <h2 class="content-head">Private message sent to users</h2>

            <p>
                Each user will receive a private message to inform them of their peer name.
                You can provide an optional message to inform your team about budget or deadline.
            </p>
        </div>
        <div class="is-center pure-u-1 pure-u-md-1-1 pure-u-lg-3-5">
            <img class="pure-img-responsive" alt="Sample message received by users" src="/images/sample.png">
        </div>
    </div>

    <div class="content why-block">
        <h2 class="content-head is-center">Why do I need this app?</h2>

        <p>
            At <a href="https://jolicode.com/">JoliCode</a>, we do a Secret Santa every year. Before this application,
            we had to ask someone from outside the company to be our "Secret Santa", running a script to dispatch users
            and sending emails to everyone.
        </p>

        <p>
            This time is gone! Because all our collaborators are on Slack, we can just select them from this interface
            and the application does all the work to shuffle users and to informe them of their peer name.
        </p>
    </div>

    <div class="content love-block pure-g">
        <div class="pure-u-1">
            <h2 class="content-head">Enjoy gifts, love and sharing</h2>

            <p>
                Whatever the reason (Christmas is not the only season in the year),
                Secret Santa is about sharing and having a good time!
            </p>
        </div>
    </div>
{% endblock content %}
