<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">

        <title>Slack Secret Santa!</title>
    </head>
    <body>

        <canvas id="snow"></canvas>

        <header class="header">
            <div class="home-menu pure-menu pure-menu-horizontal">
                <div class="pure-menu-heading">
                    <a class="hvr-buzz" href="{{ path('homepage') }}">
                        <div class="logo-wrapper">
                            <img src="/images/logo.png" alt="Secret Santa" />
                        </div>
                        <h1>Slack<br>Secret Santa</h1>
                    </a>
                </div>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a class="pure-menu-link" href="https://github.com/jolicode/slack-secret-santa/"><i class="fa fa-github"></i> Fork me</a>
                    </li>
                    <li class="pure-menu-item">
                        <a class="pure-menu-link" onclick="goSnow(); return false;" href=""><i class="fa fa-snowflake-o"></i>  Let it snow!</a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="content-wrapper">
            {% block content %}
            {% endblock content %}

            <footer class="footer is-center">
                <a href="mailto:mailto:coucou+secretsanta@jolicode.com" class="support-link"><i class="fa fa-support"></i> Need help? Contact us!</a>
                <p>
                    Made with ♥ by <a href="http://jolicode.com">JoliCode</a>
                    &mdash;
                    Emoji and logo provided free by <a href="http://emojione.com">Emoji One</a>
                </p>
            </footer>
        </div>

        <script type="text/javascript">
            /**
             * Taken from http://thecodeplayer.com/walkthrough/html5-canvas-snow-effect
             */
            var snowStarted = false;
            window.goSnow = function() {
                if (snowStarted) {
                    snowStarted = false;

                    return false;
                }

                snowStarted = true;
                //canvas init
                var canvas = document.getElementById("snow");
                var ctx = canvas.getContext("2d");

                //canvas dimensions
                var W = window.innerWidth - 30;
                var H = window.innerHeight;
                canvas.width = W;
                canvas.height = H;

                //snowflake particles
                var mp = 100; //max particles
                var particles = [];
                for(var i = 0; i < mp; i++)
                {
                    particles.push({
                        x: Math.random()*W, //x-coordinate
                        y: Math.random()*H, //y-coordinate
                        r: Math.random()*4+1, //radius
                        d: Math.random()*mp //density
                    })
                }

                //Lets draw the flakes
                var draw = function()
                {
                    if (!snowStarted) {
                        clearInterval(draw);
                        ctx.clearRect(0, 0, W, H);
                        particles.length = 0;
                        return;
                    }

                    ctx.clearRect(0, 0, W, H);

                    ctx.fillStyle = "rgba(255, 255, 255, 0.8)";
                    ctx.beginPath();
                    for(var i = 0; i < mp; i++)
                    {
                        var p = particles[i];
                        ctx.moveTo(p.x, p.y);
                        ctx.arc(p.x, p.y, p.r, 0, Math.PI*2, true);
                    }
                    ctx.fill();
                    update();
                }

                //Function to move the snowflakes
                //angle will be an ongoing incremental flag. Sin and Cos functions will be applied to it to create vertical and horizontal movements of the flakes
                var angle = 0;
                var update = function()
                {
                    angle += 0.01;
                    for(var i = 0; i < mp; i++)
                    {
                        var p = particles[i];
                        //Updating X and Y coordinates
                        //We will add 1 to the cos function to prevent negative values which will lead flakes to move upwards
                        //Every particle has its own density which can be used to make the downward movement different for each flake
                        //Lets make it more random by adding in the radius
                        p.y += Math.cos(angle+p.d) + 1 + p.r/2;
                        p.x += Math.sin(angle) * 2;

                        //Sending flakes back from the top when it exits
                        //Lets make it a bit more organic and let flakes enter from the left and right also.
                        if(p.x > W+5 || p.x < -5 || p.y > H)
                        {
                            if(i%3 > 0) //66.67% of the flakes
                            {
                                particles[i] = {x: Math.random()*W, y: -10, r: p.r, d: p.d};
                            }
                            else
                            {
                                //If the flake is exitting from the right
                                if(Math.sin(angle) > 0)
                                {
                                    //Enter from the left
                                    particles[i] = {x: -5, y: Math.random()*H, r: p.r, d: p.d};
                                }
                                else
                                {
                                    //Enter from the right
                                    particles[i] = {x: W+5, y: Math.random()*H, r: p.r, d: p.d};
                                }
                            }
                        }
                    }
                }

                //animation loop
                setInterval(draw, 33);
                return false;
            }
        </script>
    </body>
</html>
