framework:
    secret: '%env(APP_SECRET)%'
    #default_locale: en
    #csrf_protection: ~
    #http_method_override: true
    #trusted_hosts: ~
    # https://symfony.com/doc/current/reference/configuration/framework.html#handler-id
    session:
        handler_id: session.handler.predis
        name: santaSession
    #esi: ~
    #fragments: ~
    php_errors:
        log: true
    assets:
        version: 'v12'
