parameters:
    level: 6
    paths:
        - src
        - tests
    tmpDir: var/phpstan-tmp
    inferPrivatePropertyTypeFromConstructor: true

    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/test/JoliCode_SecretSanta_KernelTestDebugContainer.xml'

    # Make tests analyses working with Symfony's PHPUnit bridge
    bootstrapFiles:
       - vendor/bin/.phpunit/phpunit-9.5-0/vendor/autoload.php
