parameters:
    level: 6
    paths:
        - src
        - tests
        - castor.php
        - .castor/
    scanFiles:
        - .castor.stub.php
    tmpDir: var/phpstan-tmp
    inferPrivatePropertyTypeFromConstructor: true

    symfony:
        container_xml_path: '%rootDir%/../../../../../var/cache/test/JoliCode_SecretSanta_KernelTestDebugContainer.xml'

    # Make tests analyses working with Symfony's PHPUnit bridge
    bootstrapFiles:
       - vendor/bin/.phpunit/phpunit-9.5-0/vendor/autoload.php

    typeAliases:
        ContextData: '''
            array{
                project_name: int,
                root_domain: int,
                extra_domains: string[],
                php_version: string,
                project_directory: string,
                docker_compose_files: string[],
                project_directory: string,
                macos: bool,
                power_shell: bool,
                user_id: int,
                root_dir: string,
                env: string,
                composer_cache_dir: string,
            }
        '''
