{% extends 'santa/validate.html.twig' %}

{% block user_item %}
    <span class="user-summary">
        {% if user.extra.image %}
            <img src="{{ user.extra.image }}" alt="" loading="lazy" height="32" width="32" />
        {% endif %}
        <span>{{ user.name }}</span>
    </span>
{% endblock %}
