{% extends 'base.html.twig' %}

{% set hasRestrictedUser = hasRestrictedUser|default(false) %}

{% block content %}
    <div class="run-block">
        <form method="post" id="run_form" action="{{ path('run', { application: application }) }}">
            <div class="pure-g">
                <div class="pure-u-1 user-field run-step">
                    <h2>Add notes for your participants</h2>

                    {% apply spaceless %}
                        <div class="user-list" id="user-list">
                            {% set key = 0 %}
                            {% set input_placeholders = {
                                0: 'Add some notes ...',
                                1: 'An address ;',
                                2: 'A food allergy ;',
                                3: 'Or whatever you want ...',
                            } %}

                            {% for user in users %}
                                {% if user.identifier in selectedUsers %}
                                    {% block user_item %}{% endblock %}
                                    {% set key = key + 1 %}
                                {% endif %}
                            {% endfor %}
                            <div class="no-result is-hidden" id="no-user-matching">
                                No user matching.
                            </div>
                        </div>
                    {% endapply %}
                    <p class="help">
                        A user's note will be sent to the selected participant to send him/her a gift .
                    </p>
                </div>

                <div class="pure-u-1 pure-u-lg-1-2">
                    <div class="run-column">
                        <div class="message-field run-step">
                            <h2>
                                <label class="control-label" for="message">Check your message</label>
                            </h2>

                            <input type="hidden" name="message" value="{{ message }}" />
                            <textarea name="message" id="message" rows="5" disabled="disabled">{{ message }}</textarea>
                            <p class="help">
                                This field is only here to check your message.
                                If you want to edit it, please go to the previous page.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-lg-1-2">
                    <div class="run-column run-column-right">
                        <div class="run-step">
                            <h2>Ready?</h2>

                            <p class="is-center">
                                We are going to shuffle selected users and send them a private message to inform them
                                of their peer name.
                            </p>

                            <div class="is-center">
                                <button type="submit" class="big-button" id="submit-button">
                                    <span class="fas fa-paper-plane" aria-hidden="true"></span>
                                    Finish and send Secret Santa messages!
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
