body, html {
  font-family: 'Montserrat', sans-serif;
}
html {
    background-color:#E03A4D;
}
body {
    background-color:#FFFFFF;
}
a:hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: #E03A4D;
}
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
.is-center {
    text-align: center;
}
.big-button {
    display: inline-block;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #E03A4D;
    border: 0 none;
    color: white;
    border-radius: 10px;
    padding: 1em;
}
.big-button:hover {
    text-decoration: none;
    background-color: #CC3850;
}
.big-button.warning-btn {
    background-color: #FFC520;
}
.big-button.warning-btn:hover {
    background-color: #FFA500;
}

/**
 * Header
 */
.header {
  background-color: #E03A4D;
}

.home-menu {
    position: relative;
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}
.home-menu .pure-menu-heading a {
    color: white;
    text-decoration: none;
    align-items: center;
    display: flex;
}
.home-menu .pure-menu-heading h1 {
    font-size: 1.5em;
}
.home-menu .pure-menu-list a {
    color: white;
    text-decoration: none;
}
.logo-wrapper {
    float: left;
    margin-top: 10px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    position: relative;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}
.logo-wrapper img {
  position: absolute;
  left: 3px;
  top: 5px;
  width: 95px;
}
.home-menu .pure-menu-link:hover {
  background-color: white;
  color: #E03A4D;
}

.home-menu .pure-menu-link {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  margin-right: 6px;
}

@media screen and (max-width: 1023px) {
    .home-menu {
        flex-direction: column;
        align-items: center;
        padding-bottom: 1em;
    }
}
@media screen and (min-width: 1024px) {
    .home-menu {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

/**
 * Home app picture
 */
.app-container {
    text-align:center;
    margin-top: 48px;
    position: relative;
    top: -200px;
    margin-bottom: -200px;
    z-index: 1;
}
.app-container img {
    position: relative;
    max-width: 1080px;
    margin: auto;
    width: 100%;
}

/**
 * Footer
 */
footer {
    position: static;
    bottom: 0;
    padding: 2em;
    color: white;
    background-color: #E03A4D;
    font-size: 0.9em;
}
footer a.support-link {
    display: inline-block;
    margin-bottom: 1em;
    font-size: 1.2em;
    text-decoration: none;
    background-color: white;
    border: 3px solid white;
    color: #E03A4D;
    border-radius: 10px;
    padding: 1em;
}
footer a.support-link:hover {
    background-color: transparent;
    color: white;
}
footer a {
    color: white;
    text-decoration: underline;
}

/**
 * Content
 */
.content {
    padding: 2em 2em;
}
.content-head {
    color: #E03A4D;
    font-size: 2em;
}
.content-subhead {
    color: #E03A4D;
    font-weight: bold;
    font-size: 1.2em;
}

/**
 * Jumbotron
 */
.jumbotron {
    overflow: hidden;
    position: relative;
    color: white;
    background-color: #E03A4D;
    padding-bottom: 10em;
    text-align: center;
}
.hall-of-fame .jumbotron {
    padding-bottom: 2em;
}
.jumbotron-inner {
  max-width: 960px;
  margin: 0 auto;
}
.jumbotron h1 {
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    font-size: 3em;
    margin-top: 2em;
    margin-bottom: 0.5em;
}
.hall-of-fame .jumbotron h1 {
    margin-top: 1em;
}
.jumbotron a {
    color: white;
}
.jumbotron q,
.jumbotron p {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
    box-sizing: content-box;
    padding: 1em;
}
.jumbotron .action:hover {
  color: #56B68B;
}
.jumbotron .action {
    display: inline-block;
    margin: 1em 0 2em;
    font-size: 2.5em;
    text-decoration: none;
    background-color: white;
    border: 3px solid white;
    color: #E03A4D;
    border-radius: 10px;
    padding: 18px;

}
@media screen and (max-width: 860px) {
    .jumbotron h1 {
        font-size: 2em;
        margin-top: 1em;
    }
    .jumbotron .action {
        font-size: 1.5em;
    }
}
/**
 * How
 */
.how-block {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.how-item {
    margin-top: 2em;
}
.how-item > * {
    margin: 1em;
}
.how-item a {
    color: #E03A4D;
    text-decoration: none;
}
.how-item p {
    line-height: 1.5em;
}

/**
 * Steps
 */
.step-feature.reverse {
    flex-direction: row-reverse;
}
.step-feature {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.step-feature-image {
    padding: 0;
    display: block;
    margin: auto;
    max-width: 440px;
    width: 100%;
    margin: 0 30px 0 30px;
}
.step-feature-image img {
    width: 100%;
}

.step-feature-text p a {
    color: #E03A4D;
}
.step-feature-text p {
    box-sizing: border-box;
    line-height: 1.5em;
}
.step-feature-text h3 {
    color: #E03A4D;
    font-size: 1.6em;
    box-sizing: border-box;
}
@media screen and (max-width: 860px) {
    .step-feature {
        display: block;
        align-items: center;
        text-align: center;
    }
    .step-feature p, .step-feature h3 {
        max-width: 456px;
        padding: 0 24px 20px;
        text-align: left;
        width: 100%;
        margin: 0 auto;
    }
    .step-feature-image {
        margin: 0 auto;
    }
}
/**
 * Sample message
 */
.sample-message {
    padding: 3em;
    background-color: #E03A4D;
    color: white;
}
.sample-message-inner {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}
.sample-message h2,
.sample-message p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
}
.sample-message p {
    font-size: 1.2em;
}
.sample-message img {
    border-radius: 2px;
}

@media screen and (min-width: 1024px) {
    .sample-message {
        display: flex;
        align-items: center;
    }
    .sample-message img {
        margin-left: 1em;
    }
}

@media screen and (max-width: 1023px) {
    .sample-message img {
        margin-top: 1em;
    }
}

/**
 * Why
 */
.why-block {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}
.why-block a {
    text-decoration: none;
    color: #E03A4D;
}
.why-block h2,
.why-block p {
    text-align: center;
}
.why-block p {
    font-size: 1.2em;
    line-height: 1.5em;
}
/**
 * Love
 */
.love-block {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    padding-top: 0;
}
.love-block h2,
.love-block p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.love-block p {
    font-size: 1.2em;
}
/**
 * Run form
 */
.run-block {
    padding: 0 2em;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 4em;
    position: relative;
}
.run-block h2 {
    margin-top: 2em;
    color: #E03A4D;
}
.error {
    background-color: #ffb6c0;
    display: block;
    margin-bottom: 1em;
    padding: 1em;
    color: #7a2428;
    border-radius: 8px;
}
textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 1em;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}
.message-field textarea {
    max-height: 100px;
}
.help {
    color: #7A7A7A;
    font-style: italic;
}
.next {
    text-align: center;
}
.next .pure-img-responsive {
    box-shadow: 10px 10px 25px rgb(204, 204, 204);
}
.next p {
    margin-top: 2em;
}
.big-santa-warning {
    font-size: 0.8em;
    color: #7A7A7A;
}
/**
 * User list
 */
.user-search {
    display: flex;
    flex-direction: column;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 0 0;
    line-height: 3em;
}
@media screen and (max-width: 1024px) {
    .user-search {
        line-height: 1.2em;
    }
    .user-search .helper {
        padding: 1em;
        padding-top: 0;
    }
}
.user-search .search-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 1em;
}
.user-search .search-wrapper input {
    border: 0 none;
    padding: 1em;
    flex: 1;
}
.user-search .search-wrapper span {
    cursor: pointer;
}
.user-search .helper {
    display: flex;
    align-items: center;
}
.user-search .helper label {
    cursor: pointer;
    margin-right: 1em;
}
.user-search .helper input {
    vertical-align: middle;
}
.user-search .helper .check-all,
.user-search .helper .uncheck-all {
    color: #E03A4D;
    cursor: pointer;
    padding: 0 1em;
}
.user-list {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #CCCCCC;
    border-top: 0 none;
}
.user-list .user-item {
    min-height: 3em;
    vertical-align: middle;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}
.user-list.hide-restricted .user-item.restricted,
.user-list.hide-not-matching .user-item.not-matching {
    display: none;
}
.user-list .user-item:hover {
   background-color: #EEEEEE;
    cursor: pointer;
}
.user-list .user-item * {
    margin: 0 0 0 1em;
}
.checked-users-summary {
    border: 1px solid #CCCCCC;
    border-top: 0 none;
    border-radius: 0 0 4px 4px;
    padding: 1em;
}
.checked-users-summary .user-summary {
    background-color: #EEEEEE;
    padding: 0 0.5em;
    border-radius: 5px;
    margin-top: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}
.checked-users-summary .user-summary img {
    width: 20px;
    vertical-align: middle;
}
.checked-users-summary .user-summary span[data-uncheck-user] {
    cursor: pointer;
}
@media screen and (min-width: 1024px) {
    .user-search {
        flex-direction: row;
        align-content: space-between;
    }
    .user-search .search-wrapper input {
        width: 400px;
    }
    .user-search .helper {
        margin-right: 1em;
    }
}

/**
 * Result block
 */
.result-block {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}
.result-block h2 {
    color: #E03A4D;
}
.result-block .result-error {
    margin-bottom: 4em;
}
.result-block .result-error a {
    color: #E03A4D;
    text-decoration: none;
}
.result-block .summary a {
    color: #E03A4D;
    text-decoration: none;
}

/**
 * Error page
 */
.error-page {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.error-page h2 {
    color: #E03A4D;
}
.error-page .big-button {
    margin-top: 2em;
}
/**
 * Spoil form
 */
.spoil-block {
    padding: 0 2em;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 4em;
    position: relative;
}
.code-field textarea {
    max-height: 200px;
}

/**
 * Logo effect
 */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/**
 * Snow animation
 * from https://codepen.io/jpschwinghamer/pen/QwwbgO
 */
.snow {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-animation: snow linear;
    animation: snow linear;
}
.snow.foreground {
    background-image: url(/images/snow-large.png);
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
}
.snow.foreground.layered {
    -webkit-animation-delay: 7.5s;
    animation-delay: 7.5s;
}
.snow.middleground {
    background-image: url(/images/snow-medium.png);
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
}
.snow.middleground.layered {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}
@-webkit-keyframes snow {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        -webkit-transform: translate3d(15%, 100%, 0);
        transform: translate3d(15%, 100%, 0);
    }
}

@keyframes snow {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        -webkit-transform: translate3d(15%, 100%, 0);
        transform: translate3d(15%, 100%, 0);
    }
}

/**
 * Rotate effect
 */
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

.spin {
    display: inline-block;
    -webkit-animation: spin 10s infinite linear;
    animation: spin 10s infinite linear;
}

/**
 * Hall of Fame
 */
.hall-of-fame .they-use-it ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}
.hall-of-fame .they-use-it li {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}
.hall-of-fame .they-use-it li img {
    max-height: 100%;
}
@media screen and (min-width: 800px) {
    .hall-of-fame .they-use-it li {
        width: 21%;
    }
}
