{% extends 'layout.html.twig' %}

{% block content %}
    <div class="content error-page">
        <h2>Error 500</h2>

        <p>Hu... It looks like something didn't work as expected...</p>

        <div class="is-center">
            <img class="pure-img-responsive" alt="Error 500" src="/images/error-500.gif">
        </div>

        <div class="is-center">
            <a href="{{ path('homepage') }}" class="big-button">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                Go back to home page
            </a>
        </div>
    </div>
{% endblock content %}
